body {
    background:url(../images/GOT.jpg) no-repeat !important;
    background-size:cover;
    background-position: center center;
  }
header {
  padding: 100px;
}
.row {
  color: white;
  border: dashed red 8px;
}
